@tailwind base;
@tailwind components;
@tailwind utilities;

.icon-btn-effect {
  @apply rounded-full w-10 h-10 p-2 flex justify-center items-center hover:bg-gray-200 active:bg-gray-300 overflow-hidden cursor-pointer transition-colors;
}
.icon-btn-effect-sm {
  @apply rounded-full w-6 h-6 p-1 flex justify-center items-center hover:bg-gray-200 active:bg-gray-300 overflow-hidden cursor-pointer transition-colors;
}

.clickable {
  @apply rounded-sm cursor-pointer p-2 hover:bg-gray-200 active:bg-gray-300 transition-colors;
}
.clickable-flexed {
  @apply rounded-sm flex gap-2 items-center cursor-pointer p-2 hover:bg-gray-200 active:bg-gray-300 transition-colors;
}
.clickable-flexed-no-p {
  @apply rounded-sm flex gap-2 items-center cursor-pointer hover:bg-gray-200 active:bg-gray-300 transition-colors;
}

.clickable-l {
  @apply rounded-sm cursor-pointer p-2 hover:bg-gray-100 active:bg-gray-200 transition-colors;
}
.clickable-l-flexed {
  @apply rounded-sm flex gap-2 items-center cursor-pointer p-2 hover:bg-gray-100 active:bg-gray-200 transition-colors;
}
.clickable-l-flexed-no-p {
  @apply rounded-sm flex gap-2 items-center cursor-pointer hover:bg-gray-100 active:bg-gray-200 transition-colors;
}

.no-scroll-bar::-webkit-scrollbar {
  display: none;
}

body *::-webkit-scrollbar {
  width: 8px;
  background: transparent;
  padding: 2; /* make scrollbar transparent */
}
body *::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}
